$global-column-gap: 16px;
$global-row-gap: 16px;

/*%grid-container {
  display: grid;
}*/

.grid-container__tile {
  //@extend %grid-container;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "area"; //TODO: ...
  column-gap: var($global-column-gap);
}

/*.grid-container__tabview {
  @extend .grid-container__tile;
  //...
}*/

div.spacer {
  height: 16px;
}

div.spacer.double {
  height: 32px;
}

div.spacer.smaller {
  height: 12px
}

div.missing-information {
  color: grey;
  display: block;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 24px;
}